.background{
	height: 160vh;
	background: url(../images/bg.jpg);
	background-size: cover;
	background-position: center;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
}

.item{
	height: 80%;

}

.carousel{
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

}

h2{
	font-size: 50px;
	text-align: center;
	color: whitesmoke;
}